<div class="container-fluid p-5 maincontainer">

    <mat-card>
        <h1>Voici le contenu du message : </h1>
        <hr>
        <br>
        <table class="table table-stripped">
            <tbody>
                <tr>
                    <td>
                        <div class="row">
                            <h5>Nom</h5>
                        </div>

                    </td>
                    <td>
                        <div class='msg'>{{contact.name}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <h5>Prénom</h5>
                        </div>

                    </td>
                    <td>
                        <div class='msg'>{{contact.surname}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <h5>Sujet</h5>
                        </div>

                    </td>
                    <td>
                        <div class='msg'>{{contact.subject}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <h5>Email</h5>
                        </div>

                    </td>
                    <td>
                        <div class='msg'>{{contact.mail}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <h5>
                            <div class="row">Téléphone</div>
                        </h5>

                    </td>
                    <td>
                        <div class='msg'> {{contact.phone}}</div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="row">
                            <h5>Message</h5>
                        </div>
                    </td>
                    <td>
                        <div class='msg' id="contenu">{{contact.content}}</div>
                    </td>
                </tr>
            </tbody>

        </table>
        <hr>
        <div class="buttoncontainer">
            <button mat-raised-button target="_top" id='sender' (click)='sendmail()' color="primary">Envoyer un mail</button>

            <button (click)="delete()" class="btn btn-danger m-1" id='deleter'>Supprimer</button>
            <button class="btn btn-success m-1 " id='return' routerLink="../../contacts">Retour</button>
        </div>
    </mat-card>

</div>
