.title {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.headtitle {
    padding: 2vw;
    color: #005cb2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.deletebutton {
    background-color: #dd2c00;
    color: white;
}

mat-card {
    border-radius: 20px;
}

.maincontainer {
    background-image: url('https://i.postimg.cc/k5vszxp5/EDsx2f-GW4-AAGEBv.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}
