<div class='container-fluid p-5'>
    <h1 class='headtitle'>Voici les messages envoyés par les visiteurs</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th class="centercolumn">
                    <h2 class='title'>Sujet</h2>
                </th>
                <th class="centercolumn">
                    <h2 class='title'>Nom</h2>
                </th>
                <th class="centercolumn">
                    <h2 class='title'>Prénom</h2>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of contacts ">
                <td>
                    <h2>{{c.subject}}</h2>
                </td>
                <td class="centercolumn">
                    <h2>{{c.name}}</h2>
                </td>
                <td class="centercolumn">
                    <h2>{{c.surname}}</h2>
                </td>
                <td class="centercolumn">
                    <div class='buttonscontainer'>

                        <a mat-raised-button routerLink="../answercontacts/{{c.id}}" color='primary'>
                        Voir
                    </a>


                        <a mat-raised-button (click)="delete(c.id)" class='deletebutton'> Supprimer</a>

                    </div>
                </td>
            </tr>
        </tbody>

    </table>
</div>
