* {
    background-color: rgba(211, 230, 255, 0.8);
    font-size: 1em;
}

.footer-section {
    max-width: 98vw;
    height: 10vh;
    padding-top: 1vh;
}

#img-section {
    padding-top: 1vh;
    padding-bottom: 1vh;
    padding-left: 0.5vw;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 98vw;
}

.col-12 {
    text-align: center;
}

.img {
    object-fit: contain;
    object-position: center;
    width: 5.8vw;
    height: 4vw;
    min-width: 50px;
    min-height: 50px;
    border-radius: 20px;
}

.button1 {
    background-color: white;
    color: #0032d6;
    font-weight: bold;
    min-width: 45px;
    min-height: 10px;
    font-size: 1.7vw;
    border-radius: 20px;
}

.text {
    margin-top: 1vh;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 150%;
}

#buttoncontainer {
    padding-left: 5vw;
    margin-left: auto;
    margin-right: auto;
}

#mail,
#phone,
#buttoncontainer {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

.textsection {
    font-size: 130%;
}

@media (max-widht:800px) {
    .button1 {
        font-size: 1.8vw;
    }
}
