<div class="footer-section">

    <div class='img-section'>
        <div class="row>">
            <span><img class="img"src="../../../assets/images/footer/aisne.png"></span>
            <span><img class="img" src="../../../assets/images/footer/aulnoye.jpg"></span>
            <span><img class="img" src="../../../assets/images/footer/europe.png"></span>
            <span><img class="img" src="../../../assets/images/footer/fourmies.png"></span>
            <span><img class="img" src="../../../assets/images/footer/hdf.png"></span>
            <span><img class="img" src="../../../assets/images/footer/jeumont.png"></span>
        </div>
        <div class="row>">

            <span><img class="img" src="../../../assets/images/footer/logo.png"></span>
            <span><img class="img" src="../../../assets/images/footer/maubeuge.png"></span>
            <span><img class="img" src="../../../assets/images/footer/nord.png"></span>
            <span><img class="img" src="../../../assets/images/footer/prefecture.png"></span>
            <span><img class="img" src="../../../assets/images/footer/sudavesnois.png"></span>
            <span><img class="img" src="../../../assets/images/footer/UE.png"></span>

        </div>
    </div>
</div>