<div class="footer-section">
    <div class="row">
        <div class="col-7" id="img-section">
            <div class="row>">
                <h1 id="titrepartenaires">Nos partenaires</h1>
                <span><img class="img"src="../../../assets/images/footer/logo1.jpg" ></span>
                <span><img class="img" src="../../../assets/images/footer/logo2.jpg"></span>
                <span><img class="img" src="../../../assets/images/footer/logo3.png"></span>
                <span><img class="img" src="../../../assets/images/footer/logo4.png"></span>
                <span><img class="img" src="../../../assets/images/footer/logo5.png "></span>
                <span><img class="img" src="../../../assets/images/footer/logo6.png "></span>
                <span><img class="img" src="../../../assets/images/footer/logo7.jpg"></span>
                <span><img class="img" src="../../../assets/images/footer/logo8.png"></span>
                <span><img class="img" src="../../../assets/images/footer/logo9.jpg"></span>
                <span><img class="img" src="../../../assets/images/footer/logo10.jpg"></span>
                <span><img class="img" src="../../../assets/images/footer/logo11.jpg"></span>
                <span><img class="img" src="../../../assets/images/footer/logo12.jpg"></span>
                <span><img id ='img13'class="img" src="../../../assets/images/footer/logo13.jpg"></span>
            </div>
        </div>
        <div class='col-3' id="contact1">
            <div class='row>'>
                <h1 class=>Horaires</h1>
            </div>
            <div class="row">
                <h2>Du Lundi au vendredi <br>De 9h00 à 12h00 et de 13h00 à 17h00</h2>
            </div>
            <div class='row>'>
                <h1>Téléphone</h1>
            </div>
            <div class='row>'>
                <h2>03.27.62.83.41</h2>
            </div>
            <div class='row>'>
                <h1>Mail</h1>
            </div>
            <div class='row>'>
                <h2>contact@associationsynergie.fr</h2>
            </div>

        </div>
        <div class='col-3' id="contact2">

            <div class='row>'>
                <h1 class='soustitre'>Siège</h1>
                <h2>15 place de la gare <br> 59620 Aulnoye-Aymeries</h2>
            </div>
            <div class='row>'>

                <h1 class='soustitre'>Pôle administratif</h1>
                <h2>Zae La Florentine <br> 59620 Leval</h2>
            </div>
            <div class="row w-50 mx-auto d-block" id='facebook'>
                <a mat-raised-button rel="noopener noreferrer" href="'https://www.facebook.com/Synergie.Association/'" target="_blank">
                    <h2 class="text-primary" id="titrefb">Notre Page Facebook</h2>
                </a>
            </div>

        </div>
    </div>
</div>
