* {
    background-color: rgba(211, 230, 255, 0.8);
}

#toprow {
    padding-top: 0.5vh;
}

.footer-section {
    max-height: 8vh;
    width: 98vw;
}

#img-section {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#phone,
#mail {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.img {
    object-fit: contain;
    object-position: center;
    width: 12vw;
    height: 8vw;
    min-width: 70px;
    min-height: 70px;
    max-width: 100px;
    max-height: 100px;
    margin-left: 4vw;
    margin-right: 4vw;
    border-radius: 20px;
}

.button1 {
    background-color: white;
    color: #0032d6;
    font-weight: bold;
    min-width: 50px;
    min-height: 10px;
    font-size: 1.8vw;
    border-radius: 20px;
    margin-left: 1vw;
    margin-right: 1vw;
}

.text {
    margin-top: 1vh;
    font-size: 1em;
    font-family: Arial, Helvetica, sans-serif;
}

.logos {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    margin-bottom: 1vh;
}

h1 {
    font-size: 150%;
}

.buttonscontainer {
    margin-left: auto;
    margin-right: auto;
    margin-top: 1vh;
    text-align: center;
}

#mail,
#phone,
#buttoncontainer {
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
}

#mail,
#phone,
#toprow,
#partner {
    text-align: center;
    font-size: 130%;
}

@media(max-width:424px) {
    #img-section {
        flex-direction: row;
    }
}

@media(max-width:479px) {
    .button1 {
        margin-top: 0.5vh;
        margin-bottom: 0.5vh;
    }
}

@media (max-width:800px) {
    .button1 {
        font-size: 80%;
    }
}