#return {
    float: right;
}

mat-card {
    width: 80%;
    background-color: #fafafa;
    max-height: 30%;
}

#formcontainer {
    max-height: 30%;
    border-radius: 20px;
    width: 80%;
    background-image: url('https://i.postimg.cc/k5vszxp5/EDsx2f-GW4-AAGEBv.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10vw;
}

#formtitle {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

hr {
    width: 75%;
    margin: 1em 12.5%;
}

.maincontainer {
    background-color: rgba(238, 230, 234, 0.8);
    padding-top: 3vh;
    padding-bottom: 3vh;
    background-image: url('https://i.ibb.co/fDT6g17/49948.jpg');
}
