.titre {
    text-align: center;
}

mat-card {
    width: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

mat-card-title {
    text-decoration: underline;
}