.titre {
    text-align: center;
    padding-left: 4vw;
    padding-right: 4vw;
    font-size: 130%;
}

h1,
h2,
h3 {
    font-size: 170%;
}

mat-card {
    margin-top: 1vh;
    border-radius: 20px;
    width: 70%;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding-top: 3vh;
}

mat-grid-tile {
    min-height: 80vh;
}

mat-grid-list {
    padding-top: 3vh;
}

.maincontainer {
    background-image: url('https://i.postimg.cc/k5vszxp5/EDsx2f-GW4-AAGEBv.jpg');
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 90vh;
}

@media (max-width: 900px) {
    h1,
    h2,
    h3 {
        font-size: 150%;
        ;
    }
    .titre {
        font-size: 100%;
    }
    mat-grid-list {
        padding-top: 5vh;
    }
}

@media (max-width: 480px) {
    h1,
    h2,
    h3 {
        font-size: 130%;
        ;
    }
    .titre {
        font-size: 90%;
    }
    mat-grid-list {
        padding-top: 8vh;
    }
}