<mat-grid-list cols="1" rows="1" rowHeight="2:1" class='main-div'>
    <mat-grid-tile>
        <mat-card>

            <mat-card-title class='titre'>
                <h1>Bienvenue sur l'interface administrateur !</h1>
            </mat-card-title>

            <mat-card-content class='titre'>
                <h2>Ici vous pourrez créer, éditer et supprimer : <br><br> - Les onglets de la barre de navigation<br> - Les pages<br> - Les articles de l'accueil<br>
                </h2><br><br>
            </mat-card-content>
            <mat-card-footer class='titre'>
                <h3> Veuillez utiliser la barre de navigation sur la gauche de votre écran pour commencer à éditer les différents éléments de votre site</h3>
            </mat-card-footer>
        </mat-card>

    </mat-grid-tile>
</mat-grid-list>