<div class='maincontainer'>
    <mat-grid-list cols="1" rows="1" rowHeight="2:1" class='main-div'>
        <mat-grid-tile>
            <mat-card>

                <mat-card-title class='titre'>
                    <h1>Bienvenue sur l'interface administrateur !</h1>
                </mat-card-title>

                <mat-card-content class='titre'>
                    <div>Ici vous pourrez créer, éditer et supprimer : <br><br> - Les onglets de la barre de navigation<br> - Les pages<br> - Les articles de l'accueil<br> - Voir les messsages et y répondre<br>
                        <br> Veuillez utiliser la barre de navigation sur la gauche de votre écran pour commencer à éditer les différents éléments de votre site</div>

                </mat-card-content>
                <mat-card-footer class='titre'>
                    <div>Si vous souhaitez aller dans la base de données cliquer sur 'Base de données Google', sélectionnez 'SynergieAngular' puis aller dans l'onglet 'Firestore Database' situé à gauche de l'écran </div>
                    <br>
                </mat-card-footer>
            </mat-card>

        </mat-grid-tile>
    </mat-grid-list>
</div>
