#onglettable {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 2vw;
    color: #005cb2;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.buttonsgroup {
    float: right;
    margin-right: 3vw;
}

.buttoncontainer {
    margin: 3px;
    float: right;
    justify-content: space-between;
}

.headbutton {
    background-color: #607d8b;
    color: white;
    font-weight: bold;
}

.tabletitle {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
