<mat-button-toggle routerLink="../onglets-form/new">
    Créer un onglet
</mat-button-toggle>
<mat-button-toggle routerLink="../dossier-form/new">
    Créer un dossier
</mat-button-toggle>
<mat-button-toggle routerLink="../../dashboard/dashboard-acceuil">
    Retour à l'accueil
</mat-button-toggle>

<div class='container-fluid p-5'>
    <h1>Dossiers :</h1>
    <table class="table table-stripped">

        <thead>
            <tr>
                <th>
                    <h2>Titre</h2>
                </th>
                <th>
                    <h2></h2>
                </th>
                <th>
                    <h2>Position</h2>
                </th>


            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of ongletservice.dossiers ">
                <td>
                    <h2>{{d.titre}}</h2>
                </td>


                <td>
                    <button mat-button [matMenuTriggerFor]="menu"><h2>Boutons liés au dossier</h2></button>

                    <mat-menu #menu="matMenu">

                        <button *ngFor="let dd of ongletservice.dropdowns" mat-menu-item>{{dd.titre}}</button>

                    </mat-menu>

                </td>
                <td>
                    <h2>{{d.position}}</h2>
                </td>
                <td>
                    <a routerLink="../dossier-form/{{d.id}}" class="btn btn-primary m-1">
                        Modifier
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger m-1" (click)="delete(d.id)">
                       Supprimer
                    </a>
                </td>

            </tr>
        </tbody>
    </table>

    <h1>Boutons dans des dossiers :</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    <h2>Titre</h2>
                </th>

                <th>
                    <h2>Dossier</h2>
                </th>
                <th>
                    <h2>Position</h2>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let d of ongletservice.dropdowns">
                <td>
                    <h2>{{d.titre}}</h2>
                </td>
                <td>
                    <h2>{{d.dossier}}</h2>
                </td>
                <td>
                    <h2>{{d.position}}</h2>
                </td>

                <td>
                    <a routerLink="../onglets-form/{{d.id}}" class="btn btn-primary m-1">
                        Modifier
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger m-1" (click)="delete(d.id)">
                       Supprimer
                    </a>
                </td>

            </tr>
        </tbody>


    </table>
    <h1>Boutons :</h1>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    <h2>Titre</h2>
                </th>

                <th>
                    <h2>Position</h2>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let s of ongletservice.solo ">
                <td>
                    <h2>{{s.titre}}</h2>
                </td>

                <td>
                    <h2>{{s.position}}</h2>
                </td>

                <td>
                    <a routerLink="../onglets-form/{{s.id}}" class="btn btn-primary m-1">
                        Modifier
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger m-1" (click)="delete(s.id)">
                       Supprimer
                    </a>
                </td>

            </tr>
        </tbody>
    </table>


    <div>