#onglettable {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 2vw;
}

.buttonsgroup {
    float: right;
    margin-right: 3vw;
}