<mat-button-toggle routerLink="../onglets-form/new">Créer un onglet</mat-button-toggle>
<mat-button-toggle routerLink="../dossier-form/new">Créer un dossier</mat-button-toggle>

<div class='container-fluid p-5'>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>Titre
                </th>
                <th>Lien
                </th>
                <th>Type
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let o of onglets ">
                <td>{{o.titre}}</td>
                <td>{{o.lien}}</td>
                <td>{{o.type}}</td>
                <td><a routerLink="../onglets-form/{{o.id}}" class="btn btn-success">Modifier</a></td>

            </tr>
        </tbody>

    </table>
</div>