#onglettable {
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    padding: 2vw;
}

.buttonsgroup {
    float: right;
    margin-right: 3vw;
}

.buttoncontainer {
    margin: 3px;
    float: right;
    justify-content: space-between;
}

.headbutton {
    background-color: #607d8b;
    color: white;
    font-weight: bold;
}
