.container {
    padding-right: 5em;
    padding-left: 5em;
    justify-content: center;
    align-items: center;
    font-size: 140%;
    text-align: justify;
    margin-top: 2em;
}

.titre {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 220%;
    font-weight: bold;
}
