<div class="page">
    <app-nav></app-nav>

    <section>
        <div class="titre">
            <h1>{{page.titre}}</h1>
        </div>
        <hr>
    </section>
    <div class='img-section' *ngIf="page.image1 !== '' && page.image1!=='0' ; else elseBlock">
        <img class='img-fluid' src='{{page.image1}}'>
    </div>
    <div class="container">
        <section class='pres'>
            <div *ngIf="page.pres !== '' && page.pres!=='0' ; else elseBlock" [innerText]="page.pres"></div>
        </section>
        <section class="st">
            <div>{{page.st1}}</div>
        </section>
        <section class="pa">
            <div [innerText]="page.pa1"></div>
        </section>
        <section class="st">
            <div *ngIf="page.st2 !== '' && page.st2!=='0' ; else elseBlock">{{page.st2}}</div>

        </section>
        <section class="pa">
            <div *ngIf="page.pa2 !== '' && page.pa2!=='0' ; else elseBlock" [innerText]="page.pa2"></div>
        </section>
        <div class='img-section' *ngIf="page.image2 !== '' && page.image2!=='0' ; else elseBlock">
            <img class='img-fluid' src='{{page.image2}}'>
        </div>
        <section class="st">
            <div *ngIf="page.st3 !== '' && page.st3!=='0'; else elseBlock">{{page.st3}}</div>
        </section>
        <section class="pa">
            <div *ngIf="page.pa3 !== '' && page.pa3!=='0'; else elseBlock" [innerText]="page.pa3"></div>
        </section>
        <section class="st">
            <div *ngIf="page.st4 !== '' && page.st4!=='0'; else elseBlock">{{page.st4}}</div>
        </section>
        <section class="pa">
            <div *ngIf="page.pa4 !== '' && page.pa4!=='0'; else elseBlock" [innerText]="page.pa4"></div>
        </section>
        <section class="st">
            <div *ngIf="page.st5 !== '' && page.st5!=='0' ; else elseBlock">{{page.st5}}</div>
        </section>
        <section class="pa">
            <div *ngIf="page.pa5 !== '' && page.pa5 !=='0' ; else elseBlock" [innerText]="page.pa5"></div>
        </section>
        <br>
        <section class="pa" *ngIf="page.lien !== '' && page.lien!=='0' ; else elseBlock">
            <div>
                <a mat-raised-button rel="noopener noreferrer" href="{{page.lien}}" target="_blank">
                    <h2>{{page.nomlien}}</h2>
                </a>
            </div>
        </section>
        <div class='img-section' *ngIf="page.image3 !== '' && page.image3!=='0' ; else elseBlock">
            <img class='img-fluid' src='{{page.image3}}'>
        </div>
        <ng-template #elseBlock>
        </ng-template>
        <br>
    </div>
    <hr>
    <app-footer></app-footer>
