.pa,
.pres {
    font-size: 140%;
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
    line-height: 1.5;
    padding-right: 10vw;
    padding-left: 10vw;
}

h1 {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 500%;
    font-weight: bold;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    text-decoration: underline;
    color: #3793a8;
    font-style: italic;
}

.st {
    text-align: center;
    justify-content: center;
    align-items: center;
    font-size: 230%;
    font-weight: bold;
    margin-top: 1em;
    margin-bottom: 1em;
    font-style: italic;
    color: #1ba8c7;
    text-decoration: underline;
}

.img-section {
    text-align: center;
}

.page {
    background-color: #fafafa;
}

hr {
    width: 50%;
    margin: 0.5em 25%;
}

.img-fluid {
    border-radius: 15px;
    max-width: 80vw;
    max-height: 25vw;
}
