<div class="page">
    <app-nav></app-nav>
    <!-- TITRE -->
    <section>
        <div class="titre">
            <h1>{{page.titre}}</h1>
        </div>
        <hr>
    </section>
    <!-- IMAGE HAUT DE PAGE -->
    <div class='img-section' *ngIf="page.image1 !== '' && page.image1!=='0'">
        <img class='img-fluid' src='{{page.image1}}' alt='photo {{page.titre}}'>
    </div>
    <div class="container">
        <!-- PRESENTATION -->
        <section class='pres'>
            <div *ngIf="page.pres !== '' && page.pres!=='0'" [innerText]="page.pres"></div>
        </section>
        <section class="st">
            <!-- SOUSTITRE 1 -->
            <div *ngIf="page.st1 !== '' && page.st1!=='0'">{{page.st1}}</div>
        </section>
        <section class="pa">
            <!-- PARAGRAPHE 1 -->
            <div [innerText]="page.pa1"></div>
        </section>
        <section class="st">
            <!-- SOUSTITRE 2 -->
            <div *ngIf="page.st2 !== '' && page.st2!=='0'">{{page.st2}}</div>

        </section>
        <section class="pa">
            <!-- PARAGRAPHE 2 -->
            <div *ngIf="page.pa2 !== '' && page.pa2!=='0'" [innerText]="page.pa2"></div>
        </section>
        <div class='img-section' *ngIf="page.image2 !== '' && page.image2!=='0'">
            <!-- IMAGE MILIEU DE PAGE -->
            <img class='img-fluid' src='{{page.image2}}' alt='photo {{page.titre}}'>
        </div>
        <section class="st">
            <!-- SOUSTITRE 3 -->
            <div *ngIf="page.st3 !== '' && page.st3!=='0'">{{page.st3}}</div>
        </section>
        <section class="pa">
            <!-- PARAGRAPHE 3 -->
            <div *ngIf="page.pa3 !== '' && page.pa3!=='0'" [innerText]="page.pa3"></div>
        </section>
        <section class="st">
            <!-- SOUSTITRE 4 -->
            <div *ngIf="page.st4 !== '' && page.st4!=='0'">{{page.st4}}</div>
        </section>
        <section class="pa">
            <!-- PARAGRAPHE 4 -->
            <div *ngIf="page.pa4 !== '' && page.pa4!=='0'" [innerText]="page.pa4"></div>
        </section>
        <section class="st">
            <!-- SOUSTITRE 5 -->
            <div *ngIf="page.st5 !== '' && page.st5!=='0'">{{page.st5}}</div>
        </section>
        <section class="pa">
            <!-- PARAGRAPHE 5 -->
            <div *ngIf="page.pa5 !== '' && page.pa5 !=='0'" [innerText]="page.pa5"></div>
        </section>
        <br>
        <div class='img-section' *ngIf="page.image3 !== '' && page.image3!=='0'">
            <!-- IMAGE BAS DE PAGE -->
            <img class='img-fluid' src='{{page.image3}}' alt='photo {{page.titre}}'>
        </div>
        <section class="pa" *ngIf="page.lien !== '' && page.lien!=='0'">
            <div>
                <!-- BOUTON LIEN -->
                <a mat-raised-button rel="noopener noreferrer" href="{{page.lien}}" target="_blank">
                    <h2>{{page.nomlien}}</h2>
                </a>
            </div>
        </section>
        <br>
    </div>
    <hr>
    <app-footer></app-footer>
