<div class="container-fluid p-5">
    <form #pageForm="ngForm">
        <div class="form-group">
            <label for="titre"><h2>Titre</h2></label>
            <input #titreInput="ngModel" type="text" name="titre" id="titre" [ngClass]="{'is-invalid' : titreInput.invalid && titreInput.touched}" class="form-control" [(ngModel)]="page.titre" required>
            <mat-error *ngIf="titreInput?.hasError('required')">
                <strong>Le titre est obligatoire</strong>
            </mat-error>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Présentation</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[0]" matInput #autosize="cdkTextareaAutosize" cdkTextareaAutosize cdkAutosizeMinRows="2" cdkAutosizeMaxRows="5"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Sous-titre 1</h2></label>
            <textarea #contenuInput="ngModel" type="textarea" name="contenu" id="contenu" [ngClass]="{'is-invalid' : contenuInput.invalid&&contenuInput.touched}" class="form-control" [(ngModel)]="page.contenu[1]" required matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>

            <mat-error fxFill *ngIf="contenuInput?.hasError('required')"><strong>Le premier sous-titre est obligatoire</strong></mat-error>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Paragraphe 1</h2></label>
            <textarea #contenuInput="ngModel" type="textarea" name="contenu" id="contenu" [ngClass]="{'is-invalid' : contenuInput.invalid&&contenuInput.touched}" class="form-control" [(ngModel)]="page.contenu[2]" required matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize"
                cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>

            <mat-error fxFill *ngIf="contenuInput?.hasError('required')"><strong>Le premier paragraphe est obligatoire</strong></mat-error>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Sous-titre 2</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[3]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Paragraphe 2</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[4]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Sous-titre 3</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[5]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Paragraphe 3</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[6]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Sous-titre 4</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[7]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Paragraphe 4</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[8]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Sous-titre 5</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[9]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="5"></textarea>
        </div>
        <div class="md-form amber-textarea active-amber-textarea-2">

            <label for="contenu"><h2>Paragraphe 5</h2></label>
            <textarea type="textarea" name="contenu" id="contenu" class="form-control" [(ngModel)]="page.contenu[10]" matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="3" cdkAutosizeMaxRows="10"></textarea>
        </div>
        <div class="form-group">
            <label for="image"><h2>URL de votre image</h2></label>
            <input type="text" name="image" id="image" class="form-control" [(ngModel)]="page.image">
        </div>
        <br>
        <button type='submit' class="btn btn-primary m-1" (click)="save(pageForm)">Enregistrer</button>
        <button class="btn btn-danger m-1" *ngIf="id !== null" (click)="delete()">Supprimer</button>
    </form>
</div>
<button class="btn btn-success m-1" routerLink="../../onglets">Retour</button>