.buttoncontainer {
    margin: 3px;
    float: right;
    justify-content: space-between;
}

.headbutton {
    background-color: #607d8b;
    color: white;
    font-weight: bold;
}

#newPage {
    margin-right: 5px;
}

.buttonsgroup {
    float: right;
    margin-right: 3vw;
}
