<div class='buttoncontainer'>
    <a class='headbutton' mat-raised-button routerLink="../pages-form/new" id='newPage'>Créer une page</a>
    <a class='headbutton' mat-raised-button routerLink="../../dashboard/dashboard-acceuil">Retour à l'accueil</a>
</div>
<div class='container-fluid p-5'>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    <h2 class='tabletitle'>Titre</h2>
                </th>
                <th>
                    <h2></h2>
                </th>
                <th>
                    <h2> </h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pages ">
                <td>
                    <h2>{{p.titre}}</h2>
                </td>

                <div class='buttonsgroup'>
                    <td>
                        <a mat-raised-button routerLink="../pages-form/{{p.id}}" color='primary'>
                        Modifier
                    </a>
                    </td>
                    <td>
                        <a mat-raised-button (click)="delete(p.id)" class='deletebutton'> Supprimer</a>
                    </td>
                </div>
            </tr>
        </tbody>

    </table>
</div>
