<div class='buttoncontainer'>
    <a class='headbutton' mat-raised-button routerLink="../pages-form/new" id='newPage'>Créer une page</a>
    <a class='headbutton' mat-raised-button routerLink="../../dashboard/dashboard-acceuil">Retour à l'accueil</a>
</div>
<div class='container-fluid p-5'>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    <h2>Titre</h2>
                </th>

            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of pages ">
                <td>
                    <h2>{{p.titre}}</h2>
                </td>

                <div class='buttonsgroup'>
                    <td>
                        <a routerLink="../pages-form/{{p.id}}" class="btn btn-primary m-1">
                        Modifier
                    </a>
                    </td>
                    <td>
                        <a *ngIf="p.titre!=='A propos'" class="btn btn-danger m-1" (click)="delete(p.id)">
                        Supprimer
                    </a>
                    </td>
                </div>
            </tr>
        </tbody>

    </table>
</div>
