<div class="page">
  <app-nav></app-nav>
  <hr>
  <!-- Début carousel-->
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src={{active.image}} alt="...">
      </div>
      <div class="carousel-item" *ngFor="let a of items">
        <img src={{a.image}}  alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
  <!-- Fin carousel-->
  <!-- Début Qui sommes nous ?-->
  <div class="quiSommesNous">
    <h4 class="titre-h4">Qui sommes-nous ?</h4>
    <p class="début-presentation">L’association Synergie a été créée en 1996 suite à une volonté des élus de mettre en place des actions d’insertions sur la commune d’Aulnoye-Aymeries.</p>
    <p>Les chantiers d’insertions espaces-verts et bâtiment sont les activités historiques de l’association. Au fil des années et en réponse aux besoins des territoires, Synergie a développé de nombreuses autres actions sur le  territoire de la Sambre Avesnois.
    <br>
    A chaque fois que Synergie a porté un nouveau projet, cela a été fait avec la double préoccupation d’accompagner vers l’emploi des personnes en situation d’exclusion et de développer des services d’utilité sociale pour les territoires.
    <br>
    Aujourd’hui, Synergie a 7 chantiers d’insertions, un service mobilité et une équipe dédiée à l’accompagnement social et professionnel. Nous sommes implantés sur les secteurs d’Aulnoye-Aymeries, de Jeumont, de Fourmies et de La Capelle.
    <br>
    Nos chantiers d’insertion :
    <br>
    </p>
    <ul>
      <li>Bâtiment second œuvre</li>
      <li>Espaces-verts</li>
      <li>Environnement / propreté</li>
      <li>Mécanique (garage solidaires)</li>
      <li>Maraîchage</li>
      <li>Menuiserie</li>
      <li>Numérique</li>
    </ul>
  </div>
<app-footer></app-footer>