<app-nav></app-nav>
<div class="page">

    <p id='bg-img' style="background-image: url('https://i.postimg.cc/x1SPrS29/49948-1.webp');">
        <mat-card>
            <!-- Début carousel-->
            <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active rounded rounded-lg">
                        <img src={{active.image}} class="rounded" alt="photo-{{active.titre}}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{active.titre}}</h5>
                            <p>{{active.contenu}}</p>
                        </div>
                    </div>
                    <div class="carousel-item" *ngFor="let a of items">
                        <img src={{a.image}} class="rounded" alt="photo-{{a.titre}}">
                        <div class="carousel-caption d-none d-md-block">
                            <h5>{{a.titre}}</h5>
                            <p>{{a.contenu}}.</p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
            </div>
            <!-- Fin carousel-->
            <hr>
            <!-- Début Qui sommes nous ?-->
            <article class="pb-0">
                <h1 class="titre">Qui sommes-nous ?</h1>
                <p class="contenu">
                    <img src="https://i.postimg.cc/XvhPPjxZ/47xd.webp" class="image" id='imgpres'> L’association <strong>Synergie</strong> a été créée en 1996 suite à une volonté des élus de mettre en place des actions d’insertions sur la commune d’Aulnoye-Aymeries.
                    <br><br> Les chantiers d’insertions espaces-verts et bâtiment sont les activités historiques de l’association. Au fil des années et en réponse aux besoins des territoires, Synergie a développé de nombreuses autres actions sur le territoire
                    de la Sambre Avesnois.
                    <br><br> A chaque fois que <strong>Synergie</strong> a porté un nouveau projet, cela a été fait avec la double préoccupation d’accompagner vers l’emploi des personnes en situation d’exclusion et de développer des services d’utilité
                    sociale pour les territoires.
                    <br>
                    <img src="https://i.postimg.cc/XvhPPjxZ/47xd.webp" class="image" id='imgpres2'>

                    <button class="savoirplus" mat-raised-button routerLink="page/q45WZei72HMJw77AXtaV">En savoir plus ?</button>
                </p>
            </article>
        </mat-card>
        <br>

</div>
<app-footer></app-footer>