.carousel-item {
    border-radius: 40px;
}

.page {
    font-size: 1.1em;
    width: 98.9vw;
}

#bg-img {
    padding-top: 0.5%;
    padding-bottom: 1%
}

.rounded {
    border-radius: 20px
}

mat-card {
    background-color: rgba(238, 230, 234, 0.8);
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5vh;
    border-radius: 35px;
}

//Début Carousel
.carousel-control-prev {
    margin-left: 1vw;
}

.carousel-control-next {
    margin-right: 1vw;
}

#carouselExampleControls .carousel-item img {
    width: 80vw;
    height: 40vw;
    overflow: hidden;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.carousel-inner {
    overflow: hidden;
}

.carousel-caption {
    margin-top: 100px;
}

.carousel-caption h5,
p {
    margin-left: 25px;
}

//Fin Carousel
// Qui sommes-nous ?
.titre {
    margin-left: 19vw;
    padding-bottom: 3vh;
    font-weight: bold;
}

article {
    padding-bottom: 10vh;
    p {
        font-size: 1.5em;
        vertical-align: middle;
    }
}

#imgpres {
    margin-right: 3vw;
    max-width: 45vw;
    max-height: 25vw;
    min-width: 30vw;
    min-height: 25vh;
}

img {
    width: 40%;
    object-position: right;
    vertical-align: middle;
    border-radius: 20px;
}

.image {
    float: right;
}

#bg-img {
    margin-left: 0;
}

.savoirplus {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 4%;
    margin-bottom: 0px;
    min-width: 70px;
    font-size: 1.8vw;
    font-weight: bold;
    border-radius: 20px;
}

@media (max-width: 900px) {
    .page {
        font-size: 0.8em;
    }
    .savoirplus {
        margin-top: 20px;
        font-size: 0.7em;
        min-width: 25vw;
    }
    img {
        width: 10%;
    }
}

@media (max-width: 480px) {
    .page {
        font-size: 0.6em;
    }
    .hrbasdepage {
        margin-top: -20px;
    }
    .savoirplus {
        margin-top: 20px;
        font-size: 0.9em;
        min-width: 25vw;
    }
}