#main-container {
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-left: 5vw;
    margin-right: 5vw;
}

.hint1 {
    color: blue;
    font-family: 'Times New Roman', Times, serif
}

.row {
    margin-top: 1vh;
}

select {
    width: 80%;
}

.tabletitle {
    color: #005cb2;
    font-weight: bold;
}

.buttoncontainer {
    margin: 3px;
    float: right;
    justify-content: space-between;
}


/* CSS OBJECT MISE EN PAGE */

.arial {
    font-family: Arial, Helvetica, sans-serif;
}

.franklin {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.lucida {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.courier {
    font-family: 'Courier New', Courier, monospace;
}

.segoe {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.red {
    color: #b71c1c;
}

.blue {
    color: #2962ff;
}

.purple {
    color: #5e35b1;
}

.grey {
    color: #607d8b;
}

.orange {
    color: #ff8f00;
}

.lightgrey {
    color: #b0bec5;
}

.lightblue {
    color: #4fc3f7;
}

.underline {
    text-decoration: underline;
}

.italic {
    font-style: italic;
}

.bold {
    font-weight: bold;
}

.bolditalic {
    font-weight: bold;
    font-style: italic;
}

.underlineitalic {
    text-decoration: underline;
    font-style: italic;
}

.boldunderline {
    font-weight: bold;
    text-decoration: underline;
}

.boldunderlineitalic {
    font-weight: bold;
    text-decoration: underline;
    font-style: italic;
}

.mat-input-element {
    text-decoration: line-through;
}

mat-card {
    border-radius: 20px;
}
