<div class='maincontainer'>
    <div id="cardadmin">
        <mat-card>
            <form class="login-form" mat-dialog-content [formGroup]="loginForm">
                <h2>
                    Veuillez fournir vos logins.
                </h2>
                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Email</mat-label>
                    <input type="email" matInput formControlName="mail" placeholder="Ex. example@example.com" />
                    <mat-error *ngIf="mail?.hasError('email') && !mail?.hasError('required')">
                        L'email n'est pas valide.
                    </mat-error>
                    <mat-error *ngIf="mail?.hasError('required')">
                        <strong> Votre email est indispensable pour vous connecter</strong>
                    </mat-error>
                </mat-form-field>

                <mat-form-field class="full-width" appearance="outline">
                    <mat-label>Mot de passe</mat-label>
                    <input matInput [type]="isHide ? 'password' : 'text'" formControlName="password" />
                    <button mat-icon-button matSuffix (click)="isHide = !isHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="isHide">
      <mat-icon>{{ isHide ? "visibility_off" : "visibility" }}</mat-icon>
    </button>
                    <mat-error *ngIf="password?.hasError('minlength') && !password?.hasError('required')">
                        Le mot de passe n'est pas valide
                    </mat-error>
                    <mat-error *ngIf="password?.hasError('required')">
                        <strong> Votre mot de passe est indispensable pour vous connecter</strong>
                    </mat-error>
                </mat-form-field>
                <span><img id='logo' src="../../../assets/images/nav/synergielogo.webp"></span>
                <div>
                    <button class="opbutton" mat-raised-button color="primary" type="submit" (click)="Connexion()">Connexion</button>

                    <button class="opbutton" mat-raised-button id='return' routerLink="">Retour au site</button>
                </div>

            </form>
        </mat-card>
    </div>
</div>