<div class='buttoncontainer'>
    <a mat-raised-button routerLink="../articles-form/new" class='newOnglet headbutton'>Créer un article</a>

    <a class='headbutton' mat-raised-button routerLink="../../dashboard/dashboard-acceuil">Retour à l'accueil</a>
</div>
<div class="container-fluid p-5">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    <h2 class='tabletitle'>Titre</h2>
                </th>
                <th>
                    <h2 class='tabletitle'>Contenu</h2>
                </th>
                <th>
                    <h2 class='tabletitle'>Image</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of articles">
                <td>
                    <h2 class="titre"><strong>{{a.titre}}</strong></h2>
                </td>
                <td class="content">
                    <h2 class="contenu">{{a.contenu}}</h2>
                </td>
                <td>
                    <img src="{{a.image}}">
                </td>
                <td class="centercolumn">
                    <div class='buttonsgroup'>

                        <a mat-raised-button routerLink="../articles-form/{{a.id}}" color='primary'>
                        Modifier
                    </a>


                        <a mat-raised-button (click)="delete(a.id)" class='deletebutton'> Supprimer</a>

                    </div>
                </td>
            </tr>

        </tbody>
    </table>
</div>
