<mat-button-toggle routerLink="../articles-form/new">Créé un article</mat-button-toggle>

<div class="container-fluid p-5">
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>
                    <h2>Titre</h2>
                </th>
                <th>
                    <h2>Contenu</h2>
                </th>
                <th>
                    <h2>Image</h2>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let a of articles">
                <td>
                    <h2>{{a.titre}}</h2>
                </td>
                <td>
                    <h2>{{a.contenu}}</h2>
                </td>
                <td>
                    <p>{{a.image}}</p>
                </td>
                <td>
                    <a routerLink="../articles-form/{{a.id}}" class="btn btn-primary m-1">
                        Modifier
                    </a>
                </td>
                <td>
                    <a class="btn btn-danger m-1" (click)="delete(a.id)">
                        Supprimer
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>