img {
    margin-top: 3vh;
    width: 12vw;
    height: 10vh;
}

.titre {
    font-size: 1em;
}

.contenu {
    font-size: 1em;
}

.buttonsgroup {
    margin-top: 5vh;
    float: right;
    margin-right: 2vw;
}

.content {
    width: 30%;
}

.buttoncontainer {
    float: right;
    margin-right: 2vw;
}

.newOnglet {
    margin-right: 5px;
}

.headbutton {
    background-color: #b0bec5;
    color: black;
    font-weight: bold;
}

.tabletitle {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.centercolumn {
    text-align: center;
}

.deletebutton {
    background-color: #dd2c00;
    color: white;
}

mat-card {
    border-radius: 20px;
}

input {
    width: 50%;
}

button,
a {
    border-radius: 20px;
    margin: 3px;
    width: 10vw;
    min-width: 130px;
}
