img {
    max-width: 200px;
    max-height: 100px;
}

.titre {
    font-size: 1em;
}

.contenu {
    font-size: 1em;
}

.buttonsgroup {
    float: right;
    margin-right: 3vw;
}

.buttoncontainer {
    margin: 3px;
    float: right;
    justify-content: space-between;
}

.newOnglet {
    margin-right: 5px;
}

.headbutton {
    background-color: #b0bec5;
    color: black;
    font-weight: bold;
}

.tabletitle {
    color: blueviolet;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.deletebutton {
    background-color: #dd2c00;
    color: white;
}
