<div class='container-fluid p-5'>
    <table class="table table-stripped">
        <thead>
            <tr>
                <th>First Name
                </th>
                <th>Last Name
                </th>
                <th>Country
                </th>
                <th>Age
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let p of players">
                <td>{{p.firstname}}</td>
                <td>{{p.lastname}}</td>
                <td>{{p.country}}</td>
                <td>{{p.age}}</td>
                <td><a routerLink="player/{{p.id}}" class="btn btn-dark">Edit</a></td>
            </tr>
        </tbody>

    </table>
</div>