<div class="container-fluid p-5">
    <form #articleForm="ngForm" (ngSubmit)="save(articleForm)">
        <div class="form-group">
            <label for="titre"><h2>Titre</h2></label>
            <input #titreInput="ngModel" type="text" name="titre" id="titre" [ngClass]="{'is-invalid' : titreInput.invalid && titreInput.touched}" class="form-control" [(ngModel)]="article.titre" required>
            <mat-error *ngIf="titreInput?.hasError('required')">
                <strong>Le titre est obligatoire</strong>
            </mat-error>
        </div>

        <div class="form-group">
            <label for="contenu"><h2>Contenu</h2></label>
            <input #contenuInput="ngModel" type="textarea" name="contenu" id="contenu" [ngClass]="{'is-invalid' : contenuInput.invalid&&contenuInput.touched}" class="form-control" [(ngModel)]="article.contenu" required>
            <mat-error *ngIf="contenuInput?.hasError('required')"><strong>Contenu obligatoire</strong></mat-error>
        </div>

        <div class="form-group">
            <label for="imageUrl"><h2>URL de votre image</h2></label>
            <input #imageUrlInput="ngModel" type="text" name="imageUrl" id="imageUrl" [ngClass]="{'is-invalid' : imageUrlInput.invalid&&contenuInput.touched}" class="form-control" [(ngModel)]="article.image" required>
            <mat-error *ngIf="imageUrlInput?.hasError('required')"><strong>Image obligatoire</strong></mat-error>
        </div>

        <button type="submit" class="btn btn-primary m-1">Enregistrer</button>
        <button [hidden]="id === null" (click)="delete()" class="btn btn-danger m-1">Supprimer</button> </form>

        <div class="NgxEditor__Wrapper">
            <ngx-editor-menu [editor]="editor"> </ngx-editor-menu>
            <ngx-editor
              [editor]="editor"
              [ngModel]="html"
              [disabled]="false"
              [placeholder]="'Type here...'"
            ></ngx-editor>
          </div>

          <button class="btn btn-success m-1" routerLink="../../articles">Retour</button>
</div>