<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
        <a mat-button class="companyName" routerLink="/">
            <span><img src="../../../assets/images/nav/synergielogo.jpg"></span>
        </a>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">

            <ul class="dossiers" *ngFor="let d of ongletservice.dossiers">
                <button mat-raised-button [matMenuTriggerFor]="menu1">{{d.titre}}</button>
            </ul>
            <ul *ngFor="let s of ongletservice.solo">
                <button id='btn-1' mat-raised-button routerLink="/{{s.lien}}">{{s.titre}}</button>
            </ul>
        </div>
        <div class='menu'>
            <mat-menu #menu1="matMenu">

                <div *ngFor="let d of ongletservice.dossiers" class='menu'>
                    <div *ngFor="let dd of ongletservice.dropdowns">
                        <div> <button *ngIf="dd.dossier===d.titre" id='btn-2' mat-button routerLink="../../{{dd.lien}}">{{dd.titre}}</button></div>

                    </div>
                </div>
            </mat-menu>
        </div>
    </div>
</nav>
