.nav-section {
    display: flex;
    justify-content: space-between;
    border: 2px solid lightblue;
    justify-content: center end;
    align-content: center;
}

.items {
    display: flex;
    justify-content: flex-end;
}

button {
    font-size: 110%;
    padding-left: 2rem;
    padding-right: 2rem;
    margin-top: 1rem;
}

.companyName {
    font-size: 150%;
}