            h3 {
                color: #005cb2;
            }

            .textinput {
                width: 40%;
            }

            mat-card {
                border-radius: 20px;
            }

            button,
            a {
                border-radius: 20px;
                margin: 3px;
                width: 10vw;
                min-width: 130px;
            }
