<mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'" [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
        <mat-toolbar>
            <a mat-button id="companyName" routerLink="dashboard-acceuil">
                <span><img id='logo'src="../../../assets/images/nav/synergielogo.webp"></span>
            </a>
        </mat-toolbar>

        <mat-nav-list>
            <hr>
            <a mat-list-item routerLink="onglets" class='nav-button'>Barre de navigation</a>
            <a mat-list-item routerLink="pages" class='nav-button'>Pages</a>
            <a mat-list-item routerLink="miseenpage" class='nav-button'>Mise en page</a>
            <a mat-list-item routerLink="articles" class='nav-button'>Articles de l'accueil</a>
            <a mat-list-item routerLink="contacts" class='nav-button'>Messages</a>
            <hr>
            <a mat-list-item (click)="admin.goToLink('https://console.firebase.google.com/')" class='nav-button'>Base de données</a>
            <hr>
            <a mat-list-item (click)="admin.logOut()" class='logout'>Déconnexion</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar color="primary">
            <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()" *ngIf="isHandset$ | async">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
            <span class='maintitle'><b>Dashboard Synergie</b></span>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
