<div class='container-fluid p-5'>
    <form #ongletForm="ngForm" (ngSubmit)="save(ongletForm)">
        <div class="form-group">
            <label for="titre">Titre</label>
            <input #titreInput="ngModel" type="text" name="titre" id="titre" [ngClass]="{'is-invalid' : titreInput.invalid &&titreInput.touched}" class="form-control" [(ngModel)]="onglet.titre" required>
            <mat-error *ngIf="titreInput?.hasError('required')">
                <strong>Le titre est obligatoire</strong>
            </mat-error>
        </div>
        <div class="form-group">

            <label for="lien">Lien</label>
            <input #lienInput="ngModel" type="text" name="lien" id="lien" [ngClass]="{'is-invalid' : lienInput.invalid &&lienInput.touched}" class="form-control" [(ngModel)]="onglet.lien" required>
            <mat-error *ngIf="lienInput?.hasError('required')">
                <strong>Le lien est obligatoire</strong>
            </mat-error>
        </div>
        <div class="form-group">

            <label for="dossier">Dossier</label>
            <input #dossierInput="ngModel" type="text" name="dossier" id="dossier" class="form-control" [(ngModel)]="onglet.dossier">

        </div>
        <button type='submit' class="btn btn-primary m-1">Enregistrer</button>
        <button [hidden]="id === null" (click)="delete()" class="btn btn-danger m-1">Supprimer</button>
    </form>
</div>